* {
  box-sizing: border-box;
}

.APP {
  height: 100%;
  display: flex;
  align-items: stretch;
  text-align: center;
  flex-direction: column;
  border: 2px solid red;
}

.APP__BODY {
  background-image: linear-gradient(to bottom right, #FFFFFF, #6DBCCE);
  height: 100%;
  display: flex;
  font-size: large;
  flex-direction: column;
  align-content: center;
  /* text-shadow: 2px 2px #FFFFFF; */
}

.APP__FOOTER {
  width: 100%;
  display: flex;
  align-self: flex-end;
  border: 2px solid green;
}