* {
  box-sizing: border-box;
}

.APP {
  height: 100%;
  align-items: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
}

.APP__BODY {
  background-image: linear-gradient(to bottom right, #6DBCCE, #FFFFFF);
  display: flex;
  font-size: large;
  flex-direction: column;
  align-content: center;
}

/* .APP__FOOTER {
  width: 100%;
  color: #FFFFFF;
  background-color: #326273;
  display: flex;
  align-self: center;
  font-size: 10px;
  border: 2px solid green;
} */