.FOOTER {
    /* position: fixed; */
    background-color: #326273;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: 80px;
}

.FOOTER__INFO {
    display: flex;
}

.FOOTER__INFO p {
    padding-left: 20px;
    text-align: left;
}

.FOOTER__LOGIN {
    padding: 20px;
    align-self: center;
}