.HEADER {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #FFFFFF;
    /* border: 2px solid red; */
}

.HEADER__LOGO {
    height: 100px;
}

href {
    background-color: #FFFFFF;
}

@media (max-width: 768px) {
    .HEADER {
      flex-direction: column;
    }
    .HEADER__LOGO {
        width: 100%;
        height: auto;
    }
}
  
@media (max-width: 400px) {
    .HEADER {
        flex-direction: column;
    }
    .HEADER__LOGO {
        width: 100%;
        height: auto;
    }
}