.HEADER {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #FFFFFF;
    /* border: 2px solid red; */
}

.HEADER__LOGO {
    height: 100px;
    width: 25%;
}